USE [asrbd-qms]
GO
/****** Object:  StoredProcedure [dbo].[TestBuildings]    Script Date: 2/1/2026 8:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[TestBuildings]
(
    @JobId INT,
    @IsAllBuildings BIT,   -- 1 = ALL (BldQuality > 0), 0 = UNTESTED (BldQuality = 9)
    @RunUpdates BIT        -- 1 = run automation (proc 3) BEFORE test rules
)
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------------------------
    -- 0. Merr CreatedUser nga Jobs dhe kontrollo JobId
    --------------------------------------------------------------------
    DECLARE @CreatedUser UNIQUEIDENTIFIER;

    SELECT @CreatedUser = CreatedUser
    FROM dbo.Jobs
    WHERE Id = @JobId;

    IF @CreatedUser IS NULL
    BEGIN
        -- Job s'ekziston ose CreatedUser është NULL
        THROW 50011, 'TestBuildings: Job not found or CreatedUser is NULL.', 1;
    END

    BEGIN TRY
        --------------------------------------------------------------------
        -- 0.1 ekzekuto automatizimet  përpara test rules. Thirr proceduren ExecuteAutomaticRulesByScope. Ajo e ben ndarjen nese jane gjithe buildings ose vetem untested
        --------------------------------------------------------------------
        IF @RunUpdates = 1
        BEGIN
        SET ANSI_WARNINGS ON;
            EXEC dbo.ExecuteAutomaticRulesByScope
                    @IsAllBuildings  = @IsAllBuildings,
                    @CreatedUser  = @CreatedUser;
        END

        --------------------------------------------------------------------
        -- 1. Fillim transaksioni për TEST RULES
        --------------------------------------------------------------------
        BEGIN TRANSACTION;

        --------------------------------------------------------------------
        -- 2. Krijo #temp tables
        --------------------------------------------------------------------
        IF OBJECT_ID('tempdb..#TempResultsDwelling') IS NOT NULL DROP TABLE #TempResultsDwelling;
        CREATE TABLE #TempResultsDwelling
        (
            dwellingId UNIQUEIDENTIFIER,
            entranceId UNIQUEIDENTIFIER,
            buildingId UNIQUEIDENTIFIER
        );

        IF OBJECT_ID('tempdb..#TempResultsEntrance') IS NOT NULL DROP TABLE #TempResultsEntrance;
        CREATE TABLE #TempResultsEntrance
        (
            entranceId UNIQUEIDENTIFIER,
            buildingId UNIQUEIDENTIFIER
        );

        IF OBJECT_ID('tempdb..#TempResultsBuilding') IS NOT NULL DROP TABLE #TempResultsBuilding;
        CREATE TABLE #TempResultsBuilding
        (
            buildingId UNIQUEIDENTIFIER
        );

        -- indekse për performancë
        CREATE INDEX IX_TempDwelling_Bld ON #TempResultsDwelling(buildingId);
        CREATE INDEX IX_TempEntrance_Bld ON #TempResultsEntrance(buildingId);
        CREATE INDEX IX_TempBuilding_Bld ON #TempResultsBuilding(buildingId);

        --------------------------------------------------------------------
        -- 3. Fshij PENDING logs për buildings target
        --------------------------------------------------------------------
        IF @IsAllBuildings = 1
        BEGIN
            -- për të gjithë buildings me BldQuality > 0
            DELETE FROM [dbo].[ProcessOutputLogs] WITH (ROWLOCK)
            WHERE QualityStatus = 'PENDING'
              AND BldId IN (
                    SELECT GlobalID
                    FROM [buildingregister].[dataown].[BUILDINGS_EVW]
                    WHERE BldQuality > 0
              );
        END
        ELSE
        BEGIN
            -- vetëm për buildings untested (BldQuality = 9)
            DELETE FROM [dbo].[ProcessOutputLogs] WITH (ROWLOCK)
            WHERE QualityStatus = 'PENDING'
              AND BldId IN (
                    SELECT GlobalID
                    FROM [buildingregister].[dataown].[BUILDINGS_EVW]
                    WHERE BldQuality = 9
              );
        END

        --------------------------------------------------------------------
        -- 4. DWELLING TEST RULES (QualityAction <> 'AUT')
        --------------------------------------------------------------------
        DECLARE @RuleId BIGINT, @Expression NVARCHAR(MAX);
        DECLARE @QueryDwl NVARCHAR(MAX);

        DECLARE dwelling_rule_cursor CURSOR FOR
            SELECT Id, Expression
            FROM [dbo].[Rules]
            WHERE EntityType = 'DWELLING'
              AND RuleStatus = 'ACTIVE'
              AND QualityAction <> 'AUT'
            ORDER BY LocalId;

        OPEN dwelling_rule_cursor;
        FETCH NEXT FROM dwelling_rule_cursor INTO @RuleId, @Expression;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            BEGIN TRY
                IF @IsAllBuildings = 1
                BEGIN
                    SET @QueryDwl = REPLACE(
                        @Expression,
                        '1=1',
                        ' e.EntBldGlobalID IN (
                              SELECT GlobalID
                              FROM [buildingregister].[dataown].[BUILDINGS_EVW]
                              WHERE BldQuality > 0
                          )'
                    );
                END
                ELSE
                BEGIN
                    SET @QueryDwl = REPLACE(
                        @Expression,
                        '1=1',
                        ' e.EntBldGlobalID IN (
                              SELECT GlobalID
                              FROM [buildingregister].[dataown].[BUILDINGS_EVW]
                              WHERE BldQuality = 9
                          )'
                    );
                END

                DELETE FROM #TempResultsDwelling;

                INSERT INTO #TempResultsDwelling (dwellingId, entranceId, buildingId)
                EXEC sp_executesql @QueryDwl;

                IF EXISTS (SELECT 1 FROM #TempResultsDwelling)
                BEGIN
                    INSERT INTO dbo.ProcessOutputLogs WITH (ROWLOCK)
                    (
                        Id, RuleId, BldId, EntId, DwlId, EntityType, Variable,
                        QualityAction, QualityStatus, QualityMessageAl, QualityMessageEn, ErrorLevel,
                        CreatedUser, CreatedTimestamp, BldMunicipality
                    )
                    SELECT
                        NEWID(),
                        @RuleId,
                        tr.buildingId,
                        tr.entranceId,
                        tr.dwellingId,
                        'DWELLING',
                        r.Variable,
                        r.QualityAction,
                        'PENDING',
                        r.QualityMessageAl,
                        r.QualityMessageEn,
                        'OWN',
                        @CreatedUser,
                        SYSDATETIME(),
                        b.BldMunicipality
                    FROM #TempResultsDwelling tr
                    JOIN [buildingregister].[dataown].[BUILDINGS] b
                      ON tr.buildingId = b.GlobalID
                     AND b.GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000')
                    CROSS JOIN dbo.Rules r
                    WHERE r.Id = @RuleId
                      AND NOT EXISTS (
                            SELECT 1
                            FROM dbo.ProcessOutputLogs pol
                            WHERE pol.RuleId = @RuleId
                              AND pol.BldId = tr.buildingId
                              AND pol.EntId = tr.entranceId
                              AND pol.DwlId = tr.dwellingId
                              AND pol.QualityStatus = 'RESOLVED'
                        );
                END
            END TRY
            BEGIN CATCH
                DECLARE @dwellingErrorMessage NVARCHAR(MAX);
                SET @dwellingErrorMessage =
                    'Error executing DWELLING test rule ID: '
                    + CAST(@RuleId AS NVARCHAR(20))
                    + '. ' + ERROR_MESSAGE();
                THROW 50001, @dwellingErrorMessage, 1;
            END CATCH;

            FETCH NEXT FROM dwelling_rule_cursor INTO @RuleId, @Expression;
        END

        CLOSE dwelling_rule_cursor;
        DEALLOCATE dwelling_rule_cursor;

        --------------------------------------------------------------------
        -- 5. ENTRANCE TEST RULES (QualityAction <> 'AUT')
        --------------------------------------------------------------------
        DECLARE @QueryEnt NVARCHAR(MAX);

        DECLARE entrance_rule_cursor CURSOR FOR
            SELECT Id, Expression
            FROM dbo.Rules
            WHERE EntityType = 'ENTRANCE'
              AND RuleStatus = 'ACTIVE'
              AND QualityAction <> 'AUT'
            ORDER BY Id;

        OPEN entrance_rule_cursor;
        FETCH NEXT FROM entrance_rule_cursor INTO @RuleId, @Expression;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            BEGIN TRY
                IF @IsAllBuildings = 1
                BEGIN
                    SET @QueryEnt = REPLACE(
                        @Expression,
                        '1=1',
                        ' e.EntBldGlobalID IN (
                              SELECT GlobalID
                              FROM [buildingregister].[dataown].[BUILDINGS_EVW]
                              WHERE BldQuality > 0
                          )'
                    );
                END
                ELSE
                BEGIN
                    SET @QueryEnt = REPLACE(
                        @Expression,
                        '1=1',
                        ' e.EntBldGlobalID IN (
                              SELECT GlobalID
                              FROM [buildingregister].[dataown].[BUILDINGS_EVW]
                              WHERE BldQuality = 9
                          )'
                    );
                END

                DELETE FROM #TempResultsEntrance;

                INSERT INTO #TempResultsEntrance (entranceId, buildingId)
                EXEC sp_executesql @QueryEnt;

                IF EXISTS (SELECT 1 FROM #TempResultsEntrance)
                BEGIN
                    INSERT INTO dbo.ProcessOutputLogs WITH (ROWLOCK)
                    (
                        Id, RuleId, BldId, EntId, DwlId, EntityType, Variable,
                        QualityAction, QualityStatus, QualityMessageAl, QualityMessageEn, ErrorLevel,
                        CreatedUser, CreatedTimestamp, BldMunicipality
                    )
                    SELECT
                        NEWID(),
                        @RuleId,
                        tr.buildingId,
                        tr.entranceId,
                        NULL,
                        'ENTRANCE',
                        r.Variable,
                        r.QualityAction,
                        'PENDING',
                        r.QualityMessageAl,
                        r.QualityMessageEn,
                        'OWN',
                        @CreatedUser,
                        SYSDATETIME(),
                        b.BldMunicipality
                    FROM #TempResultsEntrance tr
                    JOIN [buildingregister].[dataown].[BUILDINGS] b
                      ON tr.buildingId = b.GlobalID
                     AND b.GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000')
                    CROSS JOIN dbo.Rules r
                    WHERE r.Id = @RuleId
                      AND NOT EXISTS (
                            SELECT 1
                            FROM dbo.ProcessOutputLogs pol
                            WHERE pol.RuleId = @RuleId
                              AND pol.BldId = tr.buildingId
                              AND pol.EntId = tr.entranceId
                              AND pol.QualityStatus = 'RESOLVED'
                        );
                END
            END TRY
            BEGIN CATCH
                DECLARE @entranceErrorMessage NVARCHAR(MAX);
                SET @entranceErrorMessage =
                    'Error executing ENTRANCE test rule ID: '
                    + CAST(@RuleId AS NVARCHAR(20))
                    + '. ' + ERROR_MESSAGE();
                THROW 50002, @entranceErrorMessage, 1;
            END CATCH;

            FETCH NEXT FROM entrance_rule_cursor INTO @RuleId, @Expression;
        END

        CLOSE entrance_rule_cursor;
        DEALLOCATE entrance_rule_cursor;

        --------------------------------------------------------------------
        -- 6. BUILDING TEST RULES (QualityAction <> 'AUT')
        --------------------------------------------------------------------
        DECLARE @QueryBld NVARCHAR(MAX);

        DECLARE building_rule_cursor CURSOR FOR
            SELECT Id, Expression
            FROM dbo.Rules
            WHERE EntityType = 'BUILDING'
              AND RuleStatus = 'ACTIVE'
              AND QualityAction <> 'AUT'
            ORDER BY Id;

        OPEN building_rule_cursor;
        FETCH NEXT FROM building_rule_cursor INTO @RuleId, @Expression;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            BEGIN TRY
                IF @IsAllBuildings = 1
                BEGIN
                    SET @QueryBld = REPLACE(
                        @Expression,
                        '1=1',
                        ' b.GlobalID IN (
                              SELECT GlobalID
                              FROM [buildingregister].[dataown].[BUILDINGS_EVW]
                              WHERE BldQuality > 0
                          )'
                    );
                END
                ELSE
                BEGIN
                    SET @QueryBld = REPLACE(
                        @Expression,
                        '1=1',
                        ' b.GlobalID IN (
                              SELECT GlobalID
                              FROM [buildingregister].[dataown].[BUILDINGS_EVW]
                              WHERE BldQuality = 9
                          )'
                    );
                END

                DELETE FROM #TempResultsBuilding;

                INSERT INTO #TempResultsBuilding (buildingId)
                EXEC sp_executesql @QueryBld;

                IF EXISTS (SELECT 1 FROM #TempResultsBuilding)
                BEGIN
                    INSERT INTO dbo.ProcessOutputLogs WITH (ROWLOCK)
                    (
                        Id, RuleId, BldId, EntId, DwlId, EntityType, Variable,
                        QualityAction, QualityStatus, QualityMessageAl, QualityMessageEn, ErrorLevel,
                        CreatedUser, CreatedTimestamp, BldMunicipality
                    )
                    SELECT
                        NEWID(),
                        @RuleId,
                        tr.buildingId,
                        NULL,
                        NULL,
                        'BUILDING',
                        r.Variable,
                        r.QualityAction,
                        'PENDING',
                        r.QualityMessageAl,
                        r.QualityMessageEn,
                        'OWN',
                        @CreatedUser,
                        SYSDATETIME(),
                        b.BldMunicipality
                    FROM #TempResultsBuilding tr
                    JOIN [buildingregister].[dataown].[BUILDINGS] b
                      ON tr.buildingId = b.GlobalID
                     AND b.GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000')
                    CROSS JOIN dbo.Rules r
                    WHERE r.Id = @RuleId
                      AND NOT EXISTS (
                            SELECT 1
                            FROM dbo.ProcessOutputLogs pol
                            WHERE pol.RuleId = @RuleId
                              AND pol.BldId = tr.buildingId
                              AND pol.QualityStatus = 'RESOLVED'
                        );
                END
            END TRY
            BEGIN CATCH
                DECLARE @buildingErrorMessage NVARCHAR(MAX);
                SET @buildingErrorMessage =
                    'Error executing BUILDING test rule ID: '
                    + CAST(@RuleId AS NVARCHAR(20))
                    + '. ' + ERROR_MESSAGE();
                THROW 50003, @buildingErrorMessage, 1;
            END CATCH;

            FETCH NEXT FROM building_rule_cursor INTO @RuleId, @Expression;
        END

        CLOSE building_rule_cursor;
        DEALLOCATE building_rule_cursor;

        -- No BuildingIds provided: do global reset then apply rules (original behaviour)
            -- STEP 1: reset all (eligible) to 1
            UPDATE [buildingregister].[dataown].[DWELLINGS] WITH (ROWLOCK)
            SET DwlQuality = 1,
                external_editor = @CreatedUser,
                external_editor_date = SYSUTCDATETIME()
            WHERE DwlQuality > 0
              AND GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000');

            UPDATE [buildingregister].[dataown].[ENTRANCES] WITH (ROWLOCK)
            SET EntQuality = 1,
                external_editor = @CreatedUser,
                external_editor_date = SYSUTCDATETIME()
            WHERE EntQuality > 0
              AND GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000');

            UPDATE [buildingregister].[dataown].[BUILDINGS] WITH (ROWLOCK)
            SET BldQuality = 1,
                external_editor = @CreatedUser,
                external_editor_date = SYSUTCDATETIME()
            WHERE BldQuality > 0
              AND GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000');

            -- STEP 2: build distinct lists from ProcessOutputLogs and then set 3/2 where needed
            IF OBJECT_ID('tempdb..#DistinctDwl') IS NOT NULL DROP TABLE #DistinctDwl;
            IF OBJECT_ID('tempdb..#DistinctEnt') IS NOT NULL DROP TABLE #DistinctEnt;
            IF OBJECT_ID('tempdb..#DistinctBld') IS NOT NULL DROP TABLE #DistinctBld;

            SELECT DISTINCT DwlId INTO #DistinctDwl FROM dbo.ProcessOutputLogs WHERE DwlId IS NOT NULL;
            SELECT DISTINCT EntId INTO #DistinctEnt FROM dbo.ProcessOutputLogs WHERE EntId IS NOT NULL;
            SELECT DISTINCT BldId INTO #DistinctBld FROM dbo.ProcessOutputLogs WHERE BldId IS NOT NULL;

            CREATE INDEX IX_DistDwl ON #DistinctDwl(DwlId);
            CREATE INDEX IX_DistEnt ON #DistinctEnt(EntId);
            CREATE INDEX IX_DistBld ON #DistinctBld(BldId);

            -- Dwellings: set 3 or 2; else remain 1 (since we reset)
            UPDATE d
            SET DwlQuality = CASE
                WHEN EXISTS (
                    SELECT 1 FROM dbo.ProcessOutputLogs pol
                    WHERE pol.DwlId = d.GlobalID
                      AND (pol.QualityAction = 'ERR' OR (pol.QualityAction = 'QUE' AND pol.QualityStatus = 'PENDING'))
                ) THEN 3
                WHEN EXISTS (
                    SELECT 1 FROM dbo.ProcessOutputLogs pol
                    WHERE pol.DwlId = d.GlobalID
                      AND pol.QualityAction = 'MISS'
                ) THEN 2
                ELSE d.DwlQuality
            END,
                external_editor = @CreatedUser,
                external_editor_date = SYSUTCDATETIME()
            FROM [buildingregister].[dataown].[DWELLINGS] d WITH (ROWLOCK)
            WHERE d.DwlQuality > 0
              AND d.GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000')
              AND d.GlobalID IN (SELECT DwlId FROM #DistinctDwl);

            -- Entrances
            UPDATE e
            SET EntQuality = CASE
                WHEN EXISTS (
                    SELECT 1 FROM dbo.ProcessOutputLogs pol
                    WHERE pol.EntId = e.GlobalID
                      AND (pol.QualityAction = 'ERR' OR (pol.QualityAction = 'QUE' AND pol.QualityStatus = 'PENDING'))
                ) THEN 3
                WHEN EXISTS (
                    SELECT 1 FROM dbo.ProcessOutputLogs pol
                    WHERE pol.EntId = e.GlobalID
                      AND pol.QualityAction = 'MISS'
                ) THEN 2
                ELSE e.EntQuality
            END,
                external_editor = @CreatedUser,
                external_editor_date = SYSUTCDATETIME()
            FROM [buildingregister].[dataown].[ENTRANCES] e WITH (ROWLOCK)
            WHERE e.EntQuality > 0
              AND e.GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000')
              AND e.GlobalID IN (SELECT EntId FROM #DistinctEnt);

            -- Buildings
            UPDATE bld
            SET BldQuality = CASE
                WHEN EXISTS (
                    SELECT 1 FROM dbo.ProcessOutputLogs pol
                    WHERE pol.BldId = bld.GlobalID
                      AND (pol.QualityAction = 'ERR' OR (pol.QualityAction = 'QUE' AND pol.QualityStatus = 'PENDING'))
                ) THEN 3
                WHEN EXISTS (
                    SELECT 1 FROM dbo.ProcessOutputLogs pol
                    WHERE pol.BldId = bld.GlobalID
                      AND pol.QualityAction = 'MISS'
                ) THEN 2
                ELSE bld.BldQuality
            END,
                external_editor = @CreatedUser,
                external_editor_date = SYSUTCDATETIME()
            FROM [buildingregister].[dataown].[BUILDINGS] bld WITH (ROWLOCK)
            WHERE bld.BldQuality > 0
              AND bld.GDB_TO_DATE = CONVERT(datetime2,'9999-12-31 23:59:59.0000000')
              AND bld.GlobalID IN (SELECT BldId FROM #DistinctBld);

            DROP TABLE #DistinctDwl;
            DROP TABLE #DistinctEnt;
            DROP TABLE #DistinctBld;

        --------------------------------------------------------------------
        -- 7. COMMIT & update job status
        --------------------------------------------------------------------
        COMMIT TRANSACTION;

        ----------------------------------------------------------------
        -- 6) Cleanup temp tables
        ----------------------------------------------------------------
        IF OBJECT_ID('tempdb..#TempResultsDwelling') IS NOT NULL DROP TABLE #TempResultsDwelling;
        IF OBJECT_ID('tempdb..#TempResultsEntrance') IS NOT NULL DROP TABLE #TempResultsEntrance;
        IF OBJECT_ID('tempdb..#TempResultsBuilding') IS NOT NULL DROP TABLE #TempResultsBuilding;
        IF OBJECT_ID('tempdb..#Blds') IS NOT NULL DROP TABLE #Blds;

        UPDATE dbo.Jobs
        SET [Status] = 'COMPLETED'
        WHERE Id = @JobId;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        UPDATE dbo.Jobs
        SET [Status] = 'FAILED'
        WHERE Id = @JobId;

        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        DECLARE @ErrorProc NVARCHAR(128) = ERROR_PROCEDURE();
        DECLARE @ErrorDesc NVARCHAR(MAX);

        SET @ErrorDesc = 'TestBuildings failed at '
                         + ISNULL(@ErrorProc, 'UNKNOWN')
                         + ' (Line ' + CAST(@ErrorLine AS NVARCHAR(10)) + '): '
                         + @ErrorMessage;

        THROW 50000, @ErrorDesc, 1;
    END CATCH
END
