USE [asrbd-qms]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DownloadJobs]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DownloadJobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceYear] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[FileUrl] [nvarchar](500) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[Remarks] [nvarchar](max) NULL,
	[LastUpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_DownloadJobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplates]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplates](
	[EmailTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[CreatedTimestamp] [datetime2](7) NOT NULL,
	[UpdatedUser] [uniqueidentifier] NULL,
	[UpdatedTimestamp] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailTemplates] PRIMARY KEY CLUSTERED 
(
	[EmailTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldWorkProgress]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldWorkProgress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FieldworkId] [int] NOT NULL,
	[MunicipalityCode] [int] NOT NULL,
	[ApprovedBuildings] [int] NOT NULL,
	[FieldworkBuildings] [int] NOT NULL,
	[ProgressPercent] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FieldWorkProgress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldWorkRules]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldWorkRules](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FieldWorkId] [int] NOT NULL,
	[RuleId] [bigint] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[CreatedTimestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FieldWorkRules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldWorks]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldWorks](
	[FieldWorkId] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[FieldWorkStatus] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[OpenEmailTemplateId] [int] NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[CreatedTimestamp] [datetime2](7) NOT NULL,
	[UpdatedUser] [uniqueidentifier] NULL,
	[UpdatedTimestamp] [datetime2](7) NULL,
	[Remarks] [nvarchar](max) NULL,
	[FieldWorkName] [nvarchar](max) NOT NULL,
	[CloseEmailTemplateId] [int] NOT NULL,
 CONSTRAINT [PK_FieldWorks] PRIMARY KEY CLUSTERED 
(
	[FieldWorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FieldWorkId] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[CreatedTimestamp] [datetime2](7) NOT NULL,
	[CompletedTimestamp] [datetime2](7) NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[NoteId] [bigint] IDENTITY(1,1) NOT NULL,
	[BldId] [uniqueidentifier] NOT NULL,
	[NoteText] [nvarchar](max) NOT NULL,
	[CreatedUser] [nvarchar](500) NOT NULL,
	[CreatedTimestamp] [datetime2](7) NOT NULL,
	[UpdatedUser] [nvarchar](500) NULL,
	[UpdatedTimestamp] [datetime2](7) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[NoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessOutputLogs]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessOutputLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[RuleId] [bigint] NOT NULL,
	[BldId] [uniqueidentifier] NOT NULL,
	[EntId] [uniqueidentifier] NULL,
	[DwlId] [uniqueidentifier] NULL,
	[EntityType] [nvarchar](20) NOT NULL,
	[Variable] [nvarchar](50) NOT NULL,
	[QualityAction] [nvarchar](5) NOT NULL,
	[QualityStatus] [nvarchar](10) NOT NULL,
	[QualityMessageAl] [nvarchar](1000) NULL,
	[QualityMessageEn] [nvarchar](1000) NULL,
	[ErrorLevel] [nvarchar](10) NOT NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[CreatedTimestamp] [datetime2](7) NOT NULL,
	[BldMunicipality] [smallint] NULL,
 CONSTRAINT [PK_ProcessOutputLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LocalId] [varchar](255) NOT NULL,
	[EntityType] [nvarchar](450) NOT NULL,
	[Variable] [nvarchar](255) NOT NULL,
	[NameAl] [nvarchar](255) NULL,
	[NameEn] [nvarchar](255) NULL,
	[DescriptionAl] [nvarchar](1000) NULL,
	[DescriptionEn] [nvarchar](1000) NULL,
	[Version] [nvarchar](50) NOT NULL,
	[VersionRationale] [nvarchar](1000) NULL,
	[Expression] [nvarchar](max) NOT NULL,
	[QualityAction] [nvarchar](max) NOT NULL,
	[RuleStatus] [nvarchar](max) NOT NULL,
	[RuleRequirement] [nvarchar](1000) NULL,
	[Remark] [nvarchar](1000) NULL,
	[QualityMessageAl] [nvarchar](255) NULL,
	[QualityMessageEn] [nvarchar](255) NULL,
	[CreatedUser] [uniqueidentifier] NOT NULL,
	[CreatedTimestamp] [datetime2](7) NOT NULL,
	[UpdatedUser] [uniqueidentifier] NULL,
	[UpdatedTimestamp] [datetime2](7) NULL,
 CONSTRAINT [PK_Rules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 1/13/2026 9:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistics](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[Municipality] [nvarchar](500) NULL,
	[RuleStatistics] [int] NOT NULL,
	[BldStatistics] [int] NOT NULL,
 CONSTRAINT [PK_Statistics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DownloadJobs_ReferenceYear]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DownloadJobs_ReferenceYear] ON [dbo].[DownloadJobs]
(
	[ReferenceYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldWorkProgress_FieldworkId_MunicipalityCode]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_FieldWorkProgress_FieldworkId_MunicipalityCode] ON [dbo].[FieldWorkProgress]
(
	[FieldworkId] ASC,
	[MunicipalityCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldWorkRules_FieldWorkId]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_FieldWorkRules_FieldWorkId] ON [dbo].[FieldWorkRules]
(
	[FieldWorkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldWorkRules_FieldWorkId_RuleId]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FieldWorkRules_FieldWorkId_RuleId] ON [dbo].[FieldWorkRules]
(
	[FieldWorkId] ASC,
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldWorkRules_RuleId]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_FieldWorkRules_RuleId] ON [dbo].[FieldWorkRules]
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_POL_BldId_EntId_DwlId]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_POL_BldId_EntId_DwlId] ON [dbo].[ProcessOutputLogs]
(
	[BldId] ASC
)
INCLUDE([EntId],[DwlId],[QualityStatus],[RuleId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_POL_BldId_QualityStatus]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_POL_BldId_QualityStatus] ON [dbo].[ProcessOutputLogs]
(
	[BldId] ASC,
	[QualityStatus] ASC
)
INCLUDE([EntId],[DwlId],[RuleId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_POL_Rule_Bld_Ent_Dwl_Status]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_POL_Rule_Bld_Ent_Dwl_Status] ON [dbo].[ProcessOutputLogs]
(
	[RuleId] ASC,
	[BldId] ASC,
	[EntId] ASC,
	[DwlId] ASC,
	[QualityStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcessOutputLogs_BldMunicipality_RuleId]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProcessOutputLogs_BldMunicipality_RuleId] ON [dbo].[ProcessOutputLogs]
(
	[BldMunicipality] ASC,
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProcessOutputLogs_RuleId]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProcessOutputLogs_RuleId] ON [dbo].[ProcessOutputLogs]
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LocalId_Version_EntityType]    Script Date: 1/13/2026 9:15:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LocalId_Version_EntityType] ON [dbo].[Rules]
(
	[LocalId] ASC,
	[Version] ASC,
	[EntityType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FieldWorks] ADD  DEFAULT ((0)) FOR [CloseEmailTemplateId]
GO
ALTER TABLE [dbo].[FieldWorkRules]  WITH CHECK ADD  CONSTRAINT [FK_FieldWorkRules_FieldWorks_FieldWorkId] FOREIGN KEY([FieldWorkId])
REFERENCES [dbo].[FieldWorks] ([FieldWorkId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FieldWorkRules] CHECK CONSTRAINT [FK_FieldWorkRules_FieldWorks_FieldWorkId]
GO
ALTER TABLE [dbo].[FieldWorkRules]  WITH CHECK ADD  CONSTRAINT [FK_FieldWorkRules_Rules_RuleId] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FieldWorkRules] CHECK CONSTRAINT [FK_FieldWorkRules_Rules_RuleId]
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD  CONSTRAINT [FK_Jobs_FieldWorks_FieldWorkId] FOREIGN KEY([FieldWorkId])
REFERENCES [dbo].[FieldWorks] ([FieldWorkId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jobs] CHECK CONSTRAINT [FK_Jobs_FieldWorks_FieldWorkId]
GO
ALTER TABLE [dbo].[ProcessOutputLogs]  WITH CHECK ADD  CONSTRAINT [FK_ProcessOutputLogs_Rules_RuleId] FOREIGN KEY([RuleId])
REFERENCES [dbo].[Rules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProcessOutputLogs] CHECK CONSTRAINT [FK_ProcessOutputLogs_Rules_RuleId]
GO
ALTER TABLE [dbo].[Statistics]  WITH CHECK ADD  CONSTRAINT [FK_Statistics_Jobs_JobId] FOREIGN KEY([JobId])
REFERENCES [dbo].[Jobs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Statistics] CHECK CONSTRAINT [FK_Statistics_Jobs_JobId]
GO
