USE [asrbd-qms]
GO
SET IDENTITY_INSERT [dbo].[Rules] ON 

INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (28, N'bld.31.03.1', N'BUILDING', N'BldType', N'Type of building', N'Type of building', N'', N'', N'1.0', N'First Version', N'SELECT  b.GlobalID AS buildingID
FROM    [buildingregister].[dataown].[BUILDINGS_EVW] b
WHERE 1=1 AND b.BldQuality > 0
    AND b.BldStatus = 4 
    AND b.BldType = 2             
    AND NOT EXISTS 
        (
        SELECT 1
        FROM [buildingregister].[dataown].[ENTRANCES_EVW] e
            JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
                ON d.DwlEntGlobalID = e.GlobalID
        WHERE e.EntBldGlobalID = b.GlobalID
            AND d.DwlQuality > 0                    
            AND d.DwlStatus = b.BldStatus        
            AND d.DwlType = 2
        )
', N'ERR', N'ACTIVE', N'''Existing building with exclusive residential use (BldStatus = 4 and BldType = 2) must comprise at least one conventional dwelling recorded with identical status (Number of dwellings [DwlStatus = BldStatus and DwlType = 2] > 0).', N'', N'Ndërtesat ekskluzivisht të banueshme duhet të përfshijë të paktën një banesë konvencionale;  Ju lutem shtoni banesë konvencionale ose verifikoni llojin e ndërtesës.', N'Exclusive residential building must comprise at least one conventional dwelling; please add conventional dwelling(s) or verify type of the building.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2025-12-12T11:13:53.8859376' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (29, N'bld.31.03.2', N'BUILDING', N'BldType', N'Type of building', N'Type of building', N'', N'', N'1.0', N'First Version', N'SELECT  b.GlobalID AS buildingID
FROM    [buildingregister].[dataown].[BUILDINGS_EVW] b
WHERE 1=1 AND b.BldQuality > 0
    AND b.BldStatus = 4
    AND b.BldType = 3
    AND NOT EXISTS 
        (
        SELECT 1
        FROM [buildingregister].[dataown].[ENTRANCES_EVW] e
            JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
                ON d.DwlEntGlobalID = e.GlobalID
        WHERE e.EntBldGlobalID = b.GlobalID
            AND d.DwlQuality > 0
            AND d.DwlStatus = b.BldStatus
            AND d.DwlType = 2
        )', N'ERR', N'ACTIVE', N'Existing building with predominant residential use (BldStatus = 4 and BldType = 3) must comprise at least one conventional dwelling recorded with identical status (Number of dwellings [DwlStatus = BldStatus and DwlType = 2] > 0).', N'', N'Ndërtesa kryesisht të banueshme duhet të përmbajnë të paktën një banesë konvencionale; ju lutemi shtoni banesën konvencionale ose verifikoni llojin e ndërtesës.', N'Predominant residential building must comprise at least one conventional dwelling; please add conventional dwelling(s) or verify type of the building.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2025-12-12T11:14:32.5450566' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (30, N'bld.31.03.3', N'BUILDING', N'BldType', N'Type of building', N'Type of building', N'', N'', N'1.0', N'First Version', N'SELECT  b.GlobalID AS buildingID
FROM    [buildingregister].[dataown].[BUILDINGS_EVW] b
WHERE 1=1 AND b.BldQuality > 0
    AND b.BldStatus = 4 
    AND b.BldType = 5               
    AND NOT EXISTS 
        (
        SELECT 1
        FROM [buildingregister].[dataown].[ENTRANCES_EVW] e
            JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
                ON d.DwlEntGlobalID = e.GlobalID
        WHERE e.EntBldGlobalID = b.GlobalID
            AND d.DwlQuality > 0 
            AND d.DwlStatus = b.BldStatus 
            AND d.DwlType = 2
        )', N'ERR', N'ACTIVE', N'Existing building with partially residential use (BldStatus = 4 and BldType = 5) must comprise at least one conventional dwelling recorded with identical status (Number of dwellings [DwlStatus = BldStatus and DwlType = 2] > 0).', N'', N'Ndërtesat pjesërisht të banueshme duhet të përmbajnë të paktën një banesë konvencionale; ju lutemi shtoni banesën konvencionale ose verifikoni llojin e ndërtesës.', N'Partially residential building must comprise at least one conventional dwelling; please add conventional dwelling(s) or verify type of the building.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2025-12-12T11:14:49.5180742' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (31, N'bld.32.03.a', N'BUILDING', N'BldClass', N'BldClass', N'BldClass', N'', N'', N'1.0', N'First Version', N'UPDATE	[buildingregister].[dataown].[BUILDINGS] 
		SET BldClass = 111
		OUTPUT inserted.GlobalID 
WHERE 1=1 AND BldQuality > 0
	AND BldType IN (2, 3)
	AND BldClass IN (112, 115, 900, 999)
	AND GlobalID IN 
		(
		SELECT b.GlobalID 
			FROM [buildingregister].[dataown].[BUILDINGS_EVW] b
			JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e
				ON b.GlobalID = e.EntBldGlobalID 
			JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
				ON e.GlobalID = d.DwlEntGlobalID 
		WHERE d.DwlQuality > 0
			AND d.DwlStatus = b.BldStatus
			AND d.DwlType = 2 
		GROUP BY b.GlobalID 
			HAVING COUNT(d.GlobalID) = 1
		)
', N'AUT', N'ACTIVE', N'Building of exclusive or predominantly residential use (BldType = 2; 3) with one conventional dwelling (DwlType = 2) recorded with the same status as the building (DwlStatus = BldStatus) implies building class ‘One-dwelling building’ (BldClass = 111).', N'This rule complements/adjusts variable automatically based on implicit context.', N'Klasa e ndërtesës (rezidenciale) u vendos automatikisht në ''Ndërtesë me një banesë''.', N'Class of (residential) building automatically complemented/adjusted to ''One-dwelling building''.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-12T19:08:48.4965629' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (32, N'bld.49.02.a', N'BUILDING', N'BldDwellingRecs', N'BldDwellingRecs', N'BldDwellingRecs', N'', N'', N'1.0', N'First Version', N'WITH temp AS 
	(
	SELECT COUNT(*) no_of_dwellings, b.GlobalID building 
	FROM [buildingregister].[dataown].[BUILDINGS_EVW] b 
		JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e 
		    ON b.GlobalID = e.EntBldGlobalID 
		JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
		    ON e.GlobalID = d.DwlEntGlobalID  
	WHERE d.DwlQuality > 0 
	    AND d.DwlStatus = b.BldStatus 
	    AND d.DwlType = 2 
	GROUP BY b.GlobalID
	) 
UPDATE  [buildingregister].[dataown].[BUILDINGS] 
	    SET BldDwellingRecs = isnull
	    ((SELECT no_of_dwellings FROM temp WHERE building = GlobalID),0) 
	    OUTPUT inserted.GlobalID 
WHERE 1=1 AND BldQuality > 0', N'AUT', N'ACTIVE', N'Number of recorded dwellings is calculated as the number of conventional dwellings (DwlType = 2) recorded with the same status as the building (DwlStatus = BldStatus).', N'This rule (re-)calculates variable automatically based on context (no manual indication of variable allowed).', N'Numri i banesave konvencionale u llogarit automatikisht.', N'Number of conventional dwellings automatically calculated.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-08T09:35:00.7076776' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (33, N'bld.48.02.a', N'BUILDING', N'BldEntranceRecs', N'BldEntranceRecs', N'BldEntranceRecs', N'', N'', N'1.0', N'First Version', N'WITH temp AS 
    (
    SELECT COUNT(*) no_of_entrances, b.GlobalID building 
    FROM [buildingregister].[dataown].[BUILDINGS_EVW] b 
        JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e 
            ON b.GlobalID = e.EntBldGlobalID 
    WHERE e.EntQuality > 0
    GROUP BY b.GlobalID
    ) 
UPDATE  [buildingregister].[dataown].[BUILDINGS] 
        SET BldEntranceRecs = isnull
        ((SELECT no_of_entrances FROM temp WHERE building = GlobalID),0) 
        OUTPUT inserted.GlobalID 
WHERE 1=1 AND BldQuality > 0', N'AUT', N'ACTIVE', N'Number of recorded entrances is calculated as the number of entrances linked to the building (EntBuildingID = BldID).', N'This rule (re-)calculates variable automatically based on context (no manual indication of variable allowed).', N'Numri i hyrjeve llogaritet automatikisht.', N'Number of entrances automatically calculated.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-08T09:22:18.8084881' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (34, N'bld.32.03.b', N'BUILDING', N'BldClass', N'BldClass', N'BldClass', N'', N'', N'1.0', N'First Version', N'UPDATE  [buildingregister].[dataown].[BUILDINGS] 
        SET BldClass = 112 
        OUTPUT inserted.GlobalID 
WHERE 1=1 AND BldQuality > 0
    AND BldType IN (2, 3)
    AND BldClass IN (111, 115, 900, 999)
    AND GlobalID IN 
        (
        SELECT b.GlobalID 
        FROM [buildingregister].[dataown].[BUILDINGS_EVW] b  
            JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e 
                ON b.GlobalID = e.EntBldGlobalID 
            JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
                ON e.GlobalID = d.DwlEntGlobalID 
        WHERE d.DwlQuality > 0
            AND d.DwlStatus = b.BldStatus
            AND d.DwlType = 2 
        GROUP BY b.GlobalID 
            HAVING COUNT(d.GlobalID) = 2
        )', N'AUT', N'ACTIVE', N'Building of exclusive or predominantly residential use (BldType = 2; 3) with two conventional dwellings (DwlType = 2) recorded with the same status as the building (DwlStatus = BldStatus) implies building class ‘Two-dwelling building’ (BldClass = 112).', N'This rule complements/adjusts variable automatically based on implicit context.', N'Klasa e ndërtesës (rezidenciale) u vendos automatikisht në ''Ndërtesë me dy banesa''.', N'Class of (residential) building automatically complemented/adjusted to ''Two-dwelling building''.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-12T19:09:29.3260129' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (35, N'bld.31.04.1', N'BUILDING', N'BldType', N'Type of building', N'Type of building', N'', N'', N'1.0', N'First Version', N'SELECT  b.GlobalID AS buildingID
FROM    [buildingregister].[dataown].[BUILDINGS_EVW] b
WHERE 1=1 AND b.BldQuality > 0
	AND b.BldStatus = 4
	AND b.BldType = 4
	AND NOT EXISTS 
		(
		SELECT 1
		FROM [buildingregister].[dataown].[ENTRANCES_EVW] e
			JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
			    ON d.DwlEntGlobalID = e.GlobalID
		WHERE e.EntBldGlobalID = b.GlobalID
			AND d.DwlQuality > 0
			AND d.DwlStatus = b.BldStatus
			AND d.DwlType = 4
		)
', N'ERR', N'ACTIVE', N'Existing collective living quarter (BldStatus = 4 and BldType = 4) must comprise one single premises for collective houshold recorded with identical status (Number of [DwlStatus = BldStatus and DwlType = 4] = 1).', N'', N'Hapësira e jetesës kolektive duhet të përfshijë një ambient për familje kolektive si njësi ndërtimi; Ju lutem shtoni një ambient për familje kolektive ose verifikoni llojin e ndërtesës.', N'Collective living quarter must comprise a premises for collective household as building unit; please add a premises for collective houshold or verify type of the building.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2025-12-12T11:15:45.5427198' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (37, N'bld.32.03.c', N'BUILDING', N'BldClass', N'BldClass', N'BldClass', N'', N'', N'1.0', N'First Version', N'UPDATE  [buildingregister].[dataown].[BUILDINGS] 
        SET BldClass = 115 
        OUTPUT inserted.GlobalID 
WHERE 1=1 AND BldQuality > 0
    AND BldType IN (2, 3)
    AND BldClass IN (111, 112, 900, 999)
    AND GlobalID IN 
        (
        SELECT b.GlobalID 
        FROM [buildingregister].[dataown].[BUILDINGS_EVW] b  
            JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e 
                ON b.GlobalID = e.EntBldGlobalID 
            JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
                ON e.GlobalID = d.DwlEntGlobalID 
        WHERE d.DwlQuality > 0
            AND d.DwlStatus = b.BldStatus
            AND d.DwlType = 2 
        GROUP BY b.GlobalID 
            HAVING COUNT(d.GlobalID) > 2
        )', N'AUT', N'ACTIVE', N'Building of exclusive or predominantly residential use (BldType = 2; 3) with more than two conventional dwellings (DwlType = 2) recorded with the same status as the building (DwlStatus = BldStatus) implies building class ‘Three- or more dwelling building’ (BldClass = 115).', N'This rule complements/adjusts variable automatically based on implicit context.', N'Klasa e ndërtesës (rezidenciale) u vendos automatikisht në ''Ndërtesë me tre ose më shumë banesa''.', N'Class of (residential) building automatically complemented/adjusted ''Three- or more dwelling building''.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-12T19:09:52.6489137' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (39, N'bld.31.04.2', N'BUILDING', N'BldType', N'BldType', N'BldType', N'', N'', N'1.0', N'First Version', N'SELECT  b.GlobalID AS buildingID
FROM    [buildingregister].[dataown].[BUILDINGS_EVW] b
WHERE 1=1 AND b.BldQuality > 0
	AND b.BldStatus = 4
	AND b.BldType = 4
	AND EXISTS 
		(
		SELECT 1
		FROM [buildingregister].[dataown].[ENTRANCES_EVW] e
			JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d
			    ON d.DwlEntGlobalID = e.GlobalID
		WHERE e.EntBldGlobalID = b.GlobalID
			AND d.DwlQuality > 0
			AND d.DwlStatus = b.BldStatus
			AND d.DwlType = 4
		GROUP BY e.EntBldGlobalID
		    HAVING COUNT(*) > 1
		)', N'ERR', N'ACTIVE', N'Existing collective living quarter (BldStatus = 4 and BldType = 4) must comprise one single premises for collective houshold recorded with identical status (Number of [DwlStatus = BldStatus and DwlType = 4] = 1).', N'', N'Hapësira e jetesës kolektive nuk mund të përfshijë më shumë se një ambient për familje kolektive; Ju lutem lutem tregoni vetëm një ambient për familje kolektive ose verifikoni llojin e ndërtesës.', N'Collective living quarter cannot comprise more than one premises for collective household; please indicate only one single premises for collective household or verify type of the building.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-11T16:55:34.8414069' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (49, N'bld.41.04.1', N'BUILDING', N'BldArea', N'BldArea', N'BldArea', N'', N'', N'1.0', N'First Version', N'SELECT  b.GlobalID AS buildingID 
FROM    [buildingregister].[dataown].[BUILDINGS_EVW] b 
        JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e 
            ON b.GlobalID = e.EntBldGlobalID 
        JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
            ON e.GlobalID = d.DwlEntGlobalID 
WHERE 1=1 AND b.BldQuality > 0 AND d.DwlQuality > 0
    AND b.BldStatus = 4
    AND b.BldType NOT IN (1, 9)
    AND d.DwlStatus = b.BldStatus
    AND d.DwlType NOT IN (1, 9)
    AND d.DwlFloor = 1
    AND d.DwlSurface IS NOT NULL 
GROUP BY b.GlobalID
    HAVING SUM(d.DwlSurface) > 
    (
    SELECT BldArea 
    FROM [buildingregister].[dataown].[BUILDINGS_EVW] 
    WHERE GlobalID = b.GlobalID
    )
', N'ERR', N'ACTIVE', N'Built-up area at ground must exceed the sum of permanent dwelling surfaces recorded at the groundfloor (BldArea > SUM of ''DwlSurface'' with DwlType <> 1, 9 and DwlFloor = 1) if building is existing (BldStatus = 4) and of permanent nature (BldType <> 1, 9).', N'', N'Sipërfaqja e ndërtuar në katin përdhes është më e vogël se sipërfaqet e deklaruara të banesave në katin përdhes; ju lutemi rregulloni gjeometrinë e ndërtesës në hartë ose verifikoni sipërfaqen e banesave.', N'Built-up area at ground is smaller than indicated dwelling surfaces on groundfloor; please adjust geometry of building in the map view or verify dwelling surfaces.
', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-12T19:30:03.2010083' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (78, N'ent.13.03.1', N'ENTRANCE', N'EntStrGlobalID', N'EntStrGlobalID', N'EntStrGlobalID', N'', N'', N'1.0', N'First Version', N'SELECT  e.GlobalID AS entranceID,
        e.EntBldGlobalID AS buildingID
FROM    [buildingregister].[dataown].[ENTRANCES_EVW] AS e
        JOIN [buildingregister].[dataown].[BUILDINGS_EVW] AS b
			ON e.EntBldGlobalID = b.GlobalID
WHERE 1=1 AND e.EntQuality > 0
    AND b.BldStatus = 4
    AND b.BldType NOT IN (1, 9)
    AND b.BldEntranceRecs > 1
    AND e.EntStrGlobalID IS NOT NULL
    AND EXISTS
        (
        SELECT 1
        FROM [buildingregister].[dataown].[ENTRANCES_EVW] AS temp
        WHERE temp.EntQuality > 0
            AND temp.EntBldGlobalID = e.EntBldGlobalID
            AND temp.EntStrGlobalID IS NOT NULL
        GROUP BY temp.EntBldGlobalID
        HAVING COUNT(DISTINCT temp.EntStrGlobalID) > 1
        )', N'QUE', N'ACTIVE', N'Street names are expected to be identical for all entrances of the same building (EntBuildingID + EntStrGlobalID = unambiguously) if relevant building is existing (BldStatus = 4) and of permanent nature (BldType <> 1, 9) and there are multiple entrances recorded for the same building (BldEntranceRecs > 1).', N'', N'Emra të ndryshëm rrugësh për të njëjtën ndërtesë; ju lutemi verifikoni emrin zyrtar të rrugës nga tabela ''Emrat e rrugëve'' para se të konfirmoni.', N'Various street names for the same building; please verify official street name from table ''Street names'' before confirming.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-09T17:52:38.2475705' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (80, N'ent.14.03.1', N'ENTRANCE', N'EntBuildingNumber', N'EntBuildingNumber', N'EntBuildingNumber', N'', N'', N'1.0', N'First Version', N'SELECT	e.GlobalID AS entranceID,
		e.EntBldGlobalID AS buildingID
FROM	[buildingregister].[dataown].[ENTRANCES_EVW] AS e
		JOIN [buildingregister].[dataown].[BUILDINGS_EVW] AS b
			ON e.EntBldGlobalID = b.GlobalID
WHERE 1=1 AND e.EntQuality > 0
	AND b.BldStatus = 4
	AND b.BldType NOT IN (1, 9)
	AND b.BldEntranceRecs > 1
	AND e.EntBuildingNumber IS NOT NULL
	AND EXISTS
		(
		SELECT 1
		FROM [buildingregister].[dataown].[ENTRANCES_EVW] AS temp
		WHERE temp.EntQuality > 0
			AND temp.EntBldGlobalID = e.EntBldGlobalID
			AND temp.EntBuildingNumber IS NOT NULL
		GROUP BY temp.EntBldGlobalID
		HAVING COUNT(DISTINCT temp.EntBuildingNumber) > 1
		)', N'ERR', N'ACTIVE', N'Building number must be identical for all entrances of the same building (EntBuildingID + EntBuildingNumber = unambiguously) if relevant building is existing (BldStatus = 4) and of permanent nature (BldType <> 1, 9) and there are multiple entrances recorded for the same building (BldEntranceRecs > 1).', N'', N'Numra të ndryshëm ndërtesash për të njëjtën ndërtesë; ju lutemi verifikoni numrin zyrtar të ndërtesës.', N'Various building numbers for the same building; please verify official building number.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-09T17:57:40.0531669' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (84, N'ent.16.03.1', N'ENTRANCE', N'EntTown', N'EntTown', N'EntTown', N'', N'', N'1.0', N'First Version', N'SELECT	e.GlobalID AS entranceID,
		e.EntBldGlobalID AS buildingID
FROM	[buildingregister].[dataown].[ENTRANCES_EVW] AS e
		JOIN [buildingregister].[dataown].[BUILDINGS_EVW] AS b
			ON e.EntBldGlobalID = b.GlobalID
WHERE 1=1 AND e.EntQuality > 0
	AND b.BldStatus = 4
	AND b.BldType NOT IN (1, 9)
	AND b.BldEntranceRecs > 1
	AND e.EntTown IS NOT NULL
	AND EXISTS
		(
		SELECT 1
		FROM [buildingregister].[dataown].[ENTRANCES_EVW] AS temp
		WHERE temp.EntQuality > 0
			AND temp.EntBldGlobalID = e.EntBldGlobalID
			AND temp.EntTown IS NOT NULL
		GROUP BY temp.EntBldGlobalID
		HAVING COUNT(DISTINCT temp.EntTown) > 1
		)', N'ERR', N'ACTIVE', N'Town names must be identical for all entrances of the same building (EntBuildingID + EntTown = unambiguously) if relevant building is existing (BldStatus = 4) and of permanent nature (BldType <> 1, 9) and there are multiple entrances recorded for the same building (BldEntranceRecs > 1).', N'', N'Emra të ndryshëm vendbanimesh për të njëjtën ndërtesë; ju lutemi verifikoni emrin zyrtar të vendbanimit nga tabela e emrave të vendbanimeve.', N'Various town names for the same building; please verify official town name from table ''Town names''.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-09T17:58:32.5116651' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (93, N'dwl.12.02.1', N'DWELLING', N'DwlApartNumber', N'DwlApartNumber', N'DwlApartNumber', N'', N'', N'1.0', N'First Version', N'SELECT  d.GlobalID AS dwellingID,
        e.GlobalID AS entranceID,
        e.EntBldGlobalID AS buildingID 
FROM    [buildingregister].[dataown].[DWELLINGS_EVW] d 
        JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e 
            ON d.DwlEntGlobalID = e.GlobalID
WHERE 1=1 AND d.DwlQuality > 0
    AND e.EntDwellingRecs > 1
    AND d.DwlStatus = 4
    AND d.DwlType = 2
    AND d.DwlApartNumber IS NULL
    /* AND more than 1 existing conventional dwelling on the same floor */
    AND (
        SELECT COUNT(*)
        FROM [buildingregister].[dataown].[DWELLINGS_EVW] AS temp
        WHERE temp.DwlEntGlobalID = d.DwlEntGlobalID
            AND temp.DwlQuality > 0
            AND temp.DwlStatus = 4
            AND temp.DwlType = 2
            AND temp.DwlFloor IS NOT NULL
            AND temp.DwlFloor = d.DwlFloor
        ) > 1', N'MISS', N'ACTIVE', N'Unknown apartment number (DwlApartNumber is NULL) must be complemented if dwelling is existing (DwlStatus = 4) and of conventional nature (DwlType = 2) and there is more than one conventional dwelling per floor.', N'Rule is disabled until initial mapping between ASRBD and official data of Address System has been executed.', N'Numri i apartamentit mungon; Ju lutemi plotësoni.
', N'Apartment number is missing; please complement.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-09T16:49:51.7719617' AS DateTime2))
GO
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (196, N'ent.15.03.1', N'ENTRANCE', N'EntEntranceNumber', N'EntEntranceNumber', N'EntEntranceNumber', N'', N'', N'1.0', N'First Version', N'SELECT	e.GlobalID as entranceID,
		e.EntBldGlobalID as buildingID 
FROM	[buildingregister].[dataown].[ENTRANCES_EVW] AS e
		JOIN [buildingregister].[dataown].[BUILDINGS_EVW] AS b
			ON e.EntBldGlobalID = b.GlobalID
WHERE 1=1 AND e.EntQuality > 0
	AND b.BldStatus = 4
	AND b.BldType NOT IN (1, 9)
	AND b.BldEntranceRecs > 1
	AND e.EntEntranceNumber IS NOT NULL
	AND	(
		SELECT COUNT(*)
		FROM [buildingregister].[dataown].[ENTRANCES_EVW] AS temp
		WHERE temp.EntBldGlobalID = e.EntBldGlobalID
			AND temp.EntQuality > 0
			AND temp.EntEntranceNumber IS NOT NULL
			AND temp.EntEntranceNumber = e.EntEntranceNumber
		) > 1', N'ERR', N'ACTIVE', N'Entrance number cannot be identical for entrances of the same building (no duplicates for EntBuildingID + EntEntranceNumber) if relevant building is existing (BldStatus = 4) and of permanent nature (BldType <> 1, 9) and there are multiple entrances recorded for the same building (BldEntranceRecs > 1).', N'', N'Numër i njëjtë hyrjeje për hyrje të ndryshme të së njëjtës ndërtesë; ju lutem verifikoni numrin zyrtar të hyrjes.', N'Identical numbers for various entrances of the same building; please verify official entrance number.', N'39eaf1e4-28fa-479d-9974-ea2821f30447', CAST(N'2024-03-05T12:47:02.0243524' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-09T17:54:47.4129731' AS DateTime2))
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (247, N'ent.22.02.a', N'ENTRANCE', N'EntDwellingRecs', N'EntDwellingRecs', N'EntDwellingRecs', N'', N'', N'1.0', N'First Version', N'WITH temp AS
    (
    SELECT COUNT(*) no_of_dwellings, b.GlobalID building, e.GlobalID entrance
    FROM [buildingregister].[dataown].[BUILDINGS_EVW] b
        JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e
            ON b.GlobalID = e.EntBldGlobalID
        JOIN [buildingregister].[dataown].[DWELLINGS_EVW] d 
            ON e.GlobalID = d.DwlEntGlobalID
    WHERE d.DwlQuality > 0
        AND d.DwlStatus = b.BldStatus
        AND d.DwlType = 2
    GROUP BY b.GlobalID, e.GlobalID
    )
UPDATE  [buildingregister].[dataown].[ENTRANCES]
        SET EntDwellingRecs = isnull   
        ((SELECT no_of_dwellings FROM temp WHERE entrance = GlobalID),0)
        OUTPUT inserted.GlobalID, inserted.EntBldGlobalID
WHERE 1=1 AND EntQuality > 0 ', N'AUT', N'ACTIVE', N'Number of recorded conventional dwellings is calculated as the number of conventional dwellings (DwlType = 2) recorded with the same status as the building (DwlStatus = BldStatus).', N'This rule (re-)calculates variable automatically based on context (no manual indication of variable allowed).', N'Numri i banesave konvencionale u llogarit automatikisht.', N'Number of conventional dwellings automatically calculated.', N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2025-10-10T17:49:48.2753500' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-08T09:36:46.4471349' AS DateTime2))
GO
INSERT [dbo].[Rules] ([Id], [LocalId], [EntityType], [Variable], [NameAl], [NameEn], [DescriptionAl], [DescriptionEn], [Version], [VersionRationale], [Expression], [QualityAction], [RuleStatus], [RuleRequirement], [Remark], [QualityMessageAl], [QualityMessageEn], [CreatedUser], [CreatedTimestamp], [UpdatedUser], [UpdatedTimestamp]) VALUES (254, N'dwl.12.03.1', N'DWELLING', N'DwlApartNumber', N'DwlApartNumber', N'DwlApartNumber', N'', N'', N'1.0', N'First Version', N'SELECT	d.GlobalID AS dwellingID,
		e.GlobalID AS entranceID,
		e.EntBldGlobalID AS buildingID 
FROM	[buildingregister].[dataown].[DWELLINGS_EVW] d 
		JOIN [buildingregister].[dataown].[ENTRANCES_EVW] e 
			ON d.DwlEntGlobalID = e.GlobalID
WHERE 1=1 AND d.DwlQuality > 0
	AND e.EntDwellingRecs > 1
	AND d.DwlStatus = 4
	AND d.DwlApartNumber IS NOT NULL
	AND	(
		SELECT COUNT(*)
		FROM [buildingregister].[dataown].[DWELLINGS_EVW] AS temp
		WHERE temp.DwlEntGlobalID = d.DwlEntGlobalID
			AND temp.DwlQuality > 0
			AND temp.DwlStatus = 4
			AND temp.DwlApartNumber IS NOT NULL
			AND temp.DwlApartNumber = d.DwlApartNumber
		) > 1', N'ERR', N'ACTIVE', N'Apartment number cannot be identical for existing dwellings of the same entrance (no duplicates for DwlEntranceID + DwlStatus + DwlApartNumber) if there are multiple conventional dwellings recorded for the same entrance (EntDwellingRecs > 1).', N'', N'Numra të njëjtë për banesa të ndryshme të së njëjtës hyrje; ju lutemi verifikoni numrin zyrtar të apartamentit.', N'Identical numbers for various dwellings of the same entrance; please verify official apartment number.', N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-09T15:48:03.2933398' AS DateTime2), N'40100b06-d57e-48a1-9877-42a20e135cfe', CAST(N'2026-01-09T16:20:02.4438525' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Rules] OFF
GO
